In [1]:
import pandas as pd
#setting output format to 2 decimal places
pd.set_option('display.float_format', lambda x: '%.2f' %x)

In [2]:
#importing
df = pd.read_csv("./data/pokemon_data.csv")
#returning n first rows, similar to that is tail
df.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False

In [3]:
#showing column names
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [4]:
#showing columns
df[['Name','Type 1','Attack']].head()
df.isnull().sum()

#               0
Name            0
Type 1          0
Type 2        386
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [5]:
#showing certain row/rows
df.iloc[:5] #similar to that is iloc

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [6]:
#read specific location Row -> Column
df.iloc[:5,1]

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [7]:
#non integer condiiton
df.loc[df['Type 1'] == "Grass"][:10]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
49,44,Gloom,Grass,Poison,60,65,70,85,75,40,1,False
50,45,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False
75,69,Bellsprout,Grass,Poison,50,75,35,70,30,40,1,False
76,70,Weepinbell,Grass,Poison,65,90,50,85,45,55,1,False
77,71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False

In [8]:
#statistical description of data
df.describe()

           #     HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation
count 800.00 800.00  800.00   800.00   800.00   800.00 800.00      800.00
mean  362.81  69.26   79.00    73.84    72.82    71.90  68.28        3.32
std   208.34  25.53   32.46    31.18    32.72    27.83  29.06        1.66
min     1.00   1.00    5.00     5.00    10.00    20.00   5.00        1.00
25%   184.75  50.00   55.00    50.00    49.75    50.00  45.00        2.00
50%   364.50  65.00   75.00    70.00    65.00    70.00  65.00        3.00
75%   539.25  80.00  100.00    90.00    95.00    90.00  90.00        5.00
max   721.00 255.00  190.00   230.00   194.00   230.00 180.00        6.00

In [9]:
#present data sorted by certain column
df.sort_values('Name') # if descending, set parameter asceding to false
df.sort_values(['Type 1', 'HP'], ascending=[1,0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

In [11]:
#adding and removing columns
#df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']

#df = df.drop(columns=['Total'])

df['Total'] = df.iloc[:, 4:10].sum(axis=1)
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [20]:
#filtrowanie danych

new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]


new_df.reset_index(drop=True, inplace=True)
new_df
df[df['Type 1'] == "Steel"]["Defense"].mean()

126.37037037037037

In [24]:
(df.groupby(["Type 1"]).sum()/df.groupby(["Type 1"]).count()).sort_values("Attack", ascending=False)
#example above is equivalent to .mean function

,#,Attack,Defense,Generation,HP,Legendary,Name,Sp. Atk,Sp. Def,Speed,Total,Type 2
Type 1,,,,,,,,,,,,
Dragon,474.38,112.12,86.38,3.88,83.31,0.38,nan,96.84,88.84,83.03,550.53,nan
Fighting,363.85,96.78,65.93,3.37,69.85,0.00,nan,53.11,64.70,66.07,416.44,nan
Ground,356.28,95.75,84.84,3.16,73.78,0.12,nan,56.47,62.75,63.91,437.50,nan
Rock,392.73,92.86,100.80,3.45,65.36,0.09,nan,63.34,75.48,55.91,453.75,nan
Steel,442.85,92.70,126.37,3.85,65.22,0.15,nan,67.52,80.63,55.26,487.70,nan
Dark,461.35,88.39,70.23,4.03,66.81,0.06,nan,74.65,69.52,76.16,445.74,nan
Fire,327.40,84.77,67.77,3.21,69.90,0.10,nan,88.98,72.21,74.44,458.08,nan
Flying,677.75,78.75,66.25,5.50,70.75,0.50,nan,94.25,72.50,102.50,485.00,nan
Poison,251.79,74.68,68.82,2.54,67.25,0.00,nan,60.43,64.39,63.57,399.14,nan
Water,303.09,74.15,72.95,2.86,72.06,0.04,nan,74.81,70.52,65.96,430.46,nan
Ghost,486.50,73.78,81.19,4.19,64.44,0.06,nan,79.34,76.47,64.34,439.56,nan
Normal,319.17,73.47,59.85,3.05,77.28,0.02,nan,55.82,63.72,71.55,401.68,nan
Grass,344.87,73.21,70.80,3.36,67.27,0.04,nan,77.50,70.43,61.93,421.14,nan
Ice,423.54,72.75,71.42,3.54,72.00,0.08,nan,77.54,76.29,63.46,433.46,nan
Psychic,380.81,71.46,67.68,3.39,70.63,0.25,nan,98.40,86.28,81.49,475.95,nan
Bug,334.49,70.97,70.72,3.22,56.88,0.00,nan,53.87,64.80,61.68,378.93,nan
Electric,363.50,69.09,66.30,3.27,59.80,0.09,nan,90.02,73.70,84.50,443.41,nan
Fairy,449.53,61.53,65.71,4.12,74.12,0.06,nan,78.53,84.71,48.59,413.18,nan